@page
@model RazorDb.Pages.Users.UserLogInModel
@{
}

@* <h3>Login form</h3>
<form method="post">
    <table>
        <tr>
            <td>UserName  (Poul eller Charlotte)</td>
            <td><Input type="text" asp-for="@Model.user.UserName" /></td>
        </tr>
        <tr>
            <td>Password (123)</td>
            <td><Input type="password" asp-for="@Model.user.Password" /></td>
        </tr>
        <tr>
            <td><Input type="submit" value="Login" /></td>
        </tr>
    </table>

</form>
<a asp-page="CreateUser">Create a new user</a> *@